### 1. Write a Python program to check the validity of password input by users.
Validation :
• At least 1 letter between [a-z] and 1 letter between [A-Z].
• At least 1 number between [0-9].
• At least 1 character from [$#@].
• Minimum length 6 characters
• Maximum length 16 characters."

In [ ]:
def password(password):
    print(len(password))
    if len(password) >= 6 and len(password)< 16:
        if password.isalnum() and '#' in password or '@' in password or '$' in password:      #and password.isalnum():
            print('yes')
        else:
            return 'Invalid Password: Password must contain atleast one of  [$#@] characters'
    else:
        return 'Invalid Password() '
        

n = input()
password(n)

### 3. Write a Python program to check a triangle is equilateral, isosceles or scalene.

In [58]:
def triangleChecks(x,y,z):
    if x+y>z and x+z>y and y+z>x:
        if x==y==z:
            print('An equilateral triangle')
        elif x==y!=z or x!=y==z or x==z!=y:
            print('An isosceles triangle')
        else: 
            print('scalene Triangle')
    else:
        print('Triangle cannot be formed with these measures')



triangleChecks(a,b,c)

Enter the length of 1st side: 56
Enter the length of 2nd side: 77.56
Enter the length of 3rd side: 59
scalene Triangle

### 2. Write a Python program to find numbers between 100 and 400 (both included) where each digit of a number is an even number. The numbers obtained should be printed in a comma-separated sequence

In [27]:
for i in range(100,401):
    if i//10==0

### 3 Write a Python program to get next day of a given date.

In [137]:
def NextDay(y,m,d):
    
    if d == '31':
        d = 1
        m = int(m)+1
        print(y,m,d)
        if m == 12:
            print(1)
        


x = input('Input a year: ')
y = input('Input a month [1-12]: ')
z = input('Input a day [1-31]: ')

NextDay(x,y,z)

Input a year: 2009
Input a month [1-12]: 12
Input a day [1-31]: 31
2009 13 1

In [130]:
y = input('e: ')
y4 = y[-1]
if y4 == '9':
    y = int(y)
    print(y+1)
else:
    print(y)

e: 2009
2010

In [ ]:
if d==31 and m == 12 and y[-1]==9:
    d,m,y = 1,1,y+1
    print(d,m,y)

### 9. Write a Python program to construct the following pattern, using a nested for loop.

In [1]:
n = int(input('Enter the number of rows: '))
k = ord('A')
print(k)
for i in range(n+1):
    for j in range(i+1):
        print(chr(k), end= ' ')
        k+=1
    print()

Enter the number of rows: 5
65
A
B C
D E F
G H I J
K L M N O
P Q R S T U

### 8. Write a Python program to construct the following pattern, using a nested for loop.

In [133]:
def leftTriangle(n):
    for i in range(n):
        print(i*'* ')
    for i in range(1,n):
        j = (n-i-1)
        print(j*'* ')
        
        
n = int(input('enter the number of rows: '))
leftTriangle(n)

enter the number of rows: 6

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

### Given a number N such that N >= 5. The task is to print a Hut Star Pattern with (N + 3) rows as shown in the below examples.

In [127]:
n = int(input('Enter: '))
for i in range(1, n):
    for j in range(1, n-i):
        print(' ', end='  ')
    for j in range(0,2*i-1):
        print('*', end='  ')
    print()
for i in range(n):
    print((n-3)*'*  ' + (n+2)*' '+ (n-3)*'  *')

Enter: 7
               *
            *  *  *
         *  *  *  *  *
      *  *  *  *  *  *  *
   *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *  *
*  *  *  *             *  *  *  *
*  *  *  *             *  *  *  *
*  *  *  *             *  *  *  *
*  *  *  *             *  *  *  *
*  *  *  *             *  *  *  *
*  *  *  *             *  *  *  *
*  *  *  *             *  *  *  *

### 5. Write a Python program to print alphabet pattern 'A'. Expected Output:

In [6]:
r = ''
for i in range(0,7):
    for j in range(0,7):
        if (((j==1 or j==5) and i != 0) or ((i==0 or i==3) and (j>1 and j<5))):
            r = r + '*'
        else:
            r = r +' '
    r = r +'\n'
print(r)

  ***
 *   *
 *   *
 *****
 *   *
 *   *
 *   *

### 10

In [28]:
list1=[1,2,3,4,5,6,7,8,9,10,11]
list2=0
a=len(list1)
b=3
c=[]
for i in range(list2,a,b):
    d=list1[i:i+b]
    c.append(d)
print(c)
print(b)

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11]]
3

## 7

In [ ]:
x=int(input())
y=int(input())
if x>0 and y>0:
    print('first quadarant')
elif x<0 and y>0:
    print('second quadarant')
elif x<0 and y<0:
    print('third quadarant')
elif x>0 and y<0:
    print('fourth quadarant')
elif x==0 and y==0:
    print('lies on the origin')